.c-header {
  max-width: 467px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 50%;

  &__heading {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.002em;
  }

  &__paragraph {
    margin: 0;
    font-weight: 400;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1460px) {
  .c-header {
    gap: 16px;
    max-width: 496px;
    flex-basis: 35%;

    &__heading {
      font-size: 40px;
    }

    &_paragraph {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 485px) and (max-width: 1023px) {
  .c-header {
    gap: 16px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 485px) and (max-width: 820px) {
  .c-header {
    &__heading {
      font-size: 40px;
    }

    &__paragraph {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 484px) {
  .c-header {
    display:block;
    
    &__heading {
      font-size: 32px;
      line-height: 40px;
    }

    &__paragraph {
      margin: 16px 0 24px;
    }
  }
}
