/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page {
  min-height: 100vh;
  background-color: var(--color-primary);
}

.homepage-component {
  color: var(--color-text-primary);
  font-family: "DM Sans";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 109px;
  padding: 152px;
}

.homepage-component__header-container {
  max-width: 467px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 50%;
}

.header-container__heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.002em;
}

.header-container__paragraph {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
}

.homepage-component__ai-container {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.ai-container__ai-box {
  box-sizing: border-box;
  width: 268px;
  min-height: 240px;
  background-color: var(--color-secondary);
  padding: 24px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.ai-container__ai-box:hover {
  transform: translateY(-10px);
}

.ai-box__image-box {
  padding: 12px;
  border-radius: 16px;
}

.ai-box__image-box--mod-1 {
  background-color: var(--color-primary-block-1);
}

.ai-box__image-box--mod-2 {
  background-color: var(--color-primary-block-2);
}

.ai-box__image-box--mod-3 {
  background-color: var(--color-primary-block-3);
}

.ai-box__image-box--mod-4 {
  background-color: var(--color-primary-block-4);
}

.ai-box__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.ai-box__description {
  text-align: center;
  color: var(--color-text-secondary);
  margin: 0;
}

@media (min-width: 420px) and (max-width: 1460px) {
  .homepage-component {
    flex-direction: column;
    align-items: center;
    max-width: 496px;
    margin: 0 auto;
    gap: 24px;
  }
  .homepage-component__header-container,
  .homepage-component__ai-container {
    gap: 16px;
    max-width: 496px;
  }

  .ai-container__ai-box {
    width: 240px;
    min-height: 218px;
  }
  .ai-box__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

@media (max-width: 520px) {
  .homepage-component {
    padding: 48px 16px 64px 16px;
    display: block;
  }
  .homepage-component__header-container,
  .homepage-component__ai-container {
    flex-basis: 100%;
  }
  .homepage-component__header-container {
    margin-bottom: 16px;
  }
  .header-container__heading {
    font-size: 32px;
    line-height: 40px;
  }
  .ai-container__ai-box {
    width: 100%;
  }
}
